<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Versioner.Installer" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Noah" 
           UpgradeCode="9aec8e45-01f2-4fa1-9e66-43097155eb67">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Versioner.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Versioner" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
        <!--<File Source ="C:\Users\Noah\Documents\C-Sharp-Practice\P2\Versioner\Versioner.IntelliLock\Versioner_Locked.exe"/>
-->
        <File Name="Versioner.exe" Source="$(var.Versioner.ProjectDir)..\Versioner.IntelliLock\Versioner_Locked.exe"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
