<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Replicator.Installer" Language="1033" Version="1.0.0.0" Manufacturer="Noah" UpgradeCode="79ec5f68-f433-4552-8d0e-5bf833bdba9c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Replicator.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <!-- Add UI-->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Replicator.Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
        <File Source="$(var.Replicator.TargetPath)"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
